# ========= BACKEND =========
backend/node_modules/
backend/.env
backend/.env.*

# ========= FRONTEND =========
frontend/node_modules/
frontend/.env
frontend/.env.*
frontend/dist/

# ========= APP ROOT =========
.env
.env.*
node_modules/
dist/

# ========= EXAMPLES =========
!backend/.env.docker.example
!backend/.env.local.example
!frontend/.env.example

# ========= IDE / EDITOR =========
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
