# ========= BACKEND =========
backend/node_modules/
backend/.env

# ========= FRONTEND =========
frontend/node_modules/
frontend/.env
frontend/dist/

# ========= APP ROOT =========
.env
node_modules/
dist/

# ========= IDE / EDITOR =========
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?