version: "3.8"

services:
  db:
    image: mariadb:10.11
    container_name: tarefando-mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tarefando_kanban_db
      MYSQL_USER: tarefando_user
      MYSQL_PASSWORD: Tarefando_Backend_123!
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./backend/database/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  api:
    build: ./backend
    container_name: tarefando-api
    restart: unless-stopped
    env_file:
      - ./backend/.env.docker
    depends_on:
      - db
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: tarefando-frontend
    restart: unless-stopped
    depends_on:
      - api
    ports:
      - "8080:8080"
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run serve -- --host 0.0.0.0

volumes:
  db_data:
